<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>El Job Get_Entregables recibe por el formulario al número de Actividad, y en la consola de salida muestra el contenido de la carpeta ENTREGABLES</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ACTIVIDAD</name>
          <description></description>
          <defaultValue>CBUS_OSB_ACTIVIDAD_</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>User_Dim</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Pass_Dim</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAQn50SqtzigGv7n+GvEy1AQJes6m0sKY/vgx11KNz07JE=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Users\l0646482\n\mi_desa\jenkins\jobs_desarrollo\Get_Entregables\Get_Entregables.bat</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>